@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');

:root {

    --pink: #FC5DBC;

    --blue: #66B2FF;

    --black: #262626;

}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Be Vietnam Pro';

}

h1, h2, h3, h4{

    margin: 0;

}

svg{
    position: absolute;
    z-index: -1;
}

#svg-2{
    top: 0;
    right: 0;
}

#svg-3{
    top: 1500px;
    right: 0;
}

#svg-4{
    top: 2000px;
    left: 0;
}

#svg-5{
    top: 3000px;
    left: 0;
}

#svg-6{
    top: 3800px;
    left: 0;
}

#svg-7{
    top: 3800px;
    right: 0;
}

#svg-8{
    top: 3500px;
    right: 0;
}

.row{
    margin-top: 100px;
}

#intro{
    text-align: center;
    margin-bottom: 200px;
}

#intro .main-title{
    width: 1000px;
    margin: auto;
    height: 260px;
    display: flex;
}

.summary ul li{
    background: linear-gradient(to right, var(--blue) 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position .3s ease;
    padding-left: 10px;
    text-align: left;
    list-style: none;
    border-radius: 10px;
    margin: 8px 0;
}

.summary ul li:hover{
    background-position: 0%;
}

.summary ul li a{
    color: var(--black);
    transition: color .3s ease;
}

.summary ul li:hover a{
    color: white;
}

#intro .marquee-container{
    display: flex;
    align-items: center;
    overflow: hidden;
}

#intro .marquee{
    white-space: nowrap;
    font-weight: bolder;
    font-size: 60px;
}

#intro .marquee:after{
    content: ' WEB ANIMATION APPLICATION PROGRAMMING INTERFACE WEB ANIMATION APPLICATION PROGRAMMING INTERFACE';
}

#intro .subtitle{
    font-size: 40px;
}

#intro .subtitle span:nth-child(odd){

    color: var(--pink);

}

#intro .subtitle span:nth-child(even){

    color: var(--blue);

}

.summary{

    width: 400px;

    margin: 80px auto

}

.summary a{

    text-decoration: none;

    font-family: Shrikhand;

    font-size: 40px;

    color: var(--black);

}

h2{

    font-family: Shrikhand;

    font-size: 40px;

    color: var(--black);

}

#presentation, #avantages, #exemple{
    width: 55%;
    margin: auto;
}

h4{

    color: var(--pink);

    font-size: 22px;

    text-transform: uppercase;
    letter-spacing: 8px;

}

p{
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.5em;
}

/* Exemple */

#universe {

    overflow: hidden;

    background: black;

    height: 600px;

    width: 600px;

    margin: auto;

}

.star{

    height: 2px;

    width: 2px;

    opacity: 1;

    position: absolute;

    background-color: white;

}

#exemple h2{

    margin-bottom: 20px;

}

code{

    font-size: 18px;

    color: white;

}

pre{

    background-color: #262626;

    border-radius: 10px;

    padding: 0px 10px;

}

#avantages ul{
    list-style: none;
}

#avantages ul li{
    font-size: 18px;
    padding: 10px 0;
}

#avantages ul i{
    padding-right: 10px;
}

.explication h3{
    margin-top: 10px;
}

@media (max-width: 1250px) {
    #presentation, #avantages, #exemple{
        width: 90%;
    }

    #intro .main-title{
        width: 100%;
    }

    #intro .main-title svg {
        width: 90%;
        margin: auto;
        position: initial;
    }

    #svg-5{
        width: 100%;
    }
}